<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766507839697-5q0fdv0qbr1kf4qe62gk4ilob6n7se40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766507839697-5q0fdv0qbr1kf4qe62gk4ilob6n7se40</string>
	<key>API_KEY</key>
	<string>AIzaSyCqWNIjFXAK9aVTDOcmWC5_6pv-fPgSTTg</string>
	<key>GCM_SENDER_ID</key>
	<string>766507839697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simplexChapterx</string>
	<key>PROJECT_ID</key>
	<string>madx-33e96</string>
	<key>STORAGE_BUCKET</key>
	<string>madx-33e96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766507839697:ios:fd25deefc28331aee295f0</string>
</dict>
</plist>